.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #171719;
    color: white;
}
.login-logo {
    margin-right: 60px;
}
.right {
    display: flex;
    background-color: #29292e;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;
}


.right h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-bottom: 0.5em;
}
.right h6{
    margin-top: 0.5em;
    text-align: left;
}
.right a {
    text-decoration: none;
    color: white;
}

    .right .button {
        width: 98%;
        background-color: #202024;
        color: #eff2f5;
        font-weight: 600;
        height: 50px;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 5px;
        border: none;
    }

.right .button:hover{
    background-color: #121214;
    color: #eff2f5;
    cursor: pointer;
}

#acess {
    text-align: center;
}

.loginEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1a1a1d;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.loginEmail svg {
    margin-left: 10px;
    font-size: 1.4em;
}

.loginEmail input {
    background: transparent;
    width: 98%;
    outline-width: 0;
    color: #e1e1e6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.loginSenha {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1a1a1d;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.loginSenha svg {
    margin-left: 10px;
    font-size: 1.4em;
}

.loginSenha input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #e1e1e6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 665px) {
    .login {
        display: block;
        align-items: center;
        justify-content: center;
        background-color: #171719;
        color: white;
    }
    .login-logo {
        margin-right: 00px;
        align-items: center;
        justify-content: center;
        text-align: center;
    } 
    .right {
        display: inline;
        background-color: transparent;
    }

    .right .button {
        width: 92%;
        margin-left: 4%;
        background-color: #202024;
        color: #eff2f5;
        font-weight: 800;
        height: 50px;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 5px;
        border: none;
    }
    .right h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        margin-bottom: 0.5em;
       
    }
    .loginEmail, .loginSenha{
        width: 90%;
        margin-left: 4%;
    }
    .right h6{
        margin-left: 4.5%;
    }

}

@media screen and (min-height:736px) {
    #acess{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #171719;
        color: white;
    }
    .login-logo {
        margin-right: -60px;
    }
}
@media screen and (min-width: 1024px) {
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #171719;
        color: white;
    }
    .login-logo {
        margin-right: 00px;
    }
}