body {
    font-family: 'Roboto', sans-serif;
}

div.container {
    padding: 0;
}

.header {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgb(173, 255, 47);
    height: 20vh;
    padding: 10px;
}

.header .nome {
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.header .nome h2 {
    margin-right: 10px;
}

.questoes {
    outline: none;
}

.questoes .card{
    margin: 20px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.75);
}

.questoes .card#questao-1 textarea{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 8px;
}

.questoes .card#questao-1 textarea + textarea{
    margin-top: 10px;
}

.questoes .card#questao-1 textarea.resposta {
    resize: none;
    height: 100px;
    border-color: green;
    color: green;
}

.radio1{
    color:red;
}

.checkbox2{
    color: green;
}
.checkbox3{
    color: green;
}

#botao{
    margin-top: 5px;
    text-align: center;
}
.botaoEnviar{
border-radius: 9px;
border-width: 1px;
background-color: #C0C0C0;
}

#botao2{ 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
 }
.botaoEnviar2{
    padding: 10px 40px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(173, 255, 47);
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px #999;
    text-align: center;

  }