.topo1 {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgb(173, 255, 47);
    height: 20vh;
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .topo1{
      text-align: center;
      padding: 5px;
    }
}