body {
    text-align: center;

}

.form_1th {
    margin-top: 20%;
}

input {
    margin: 5px;
    border-radius: 50px;
    height: 40px;
    width: 230px;
}

button {
    font-size: 23px;
    color: white;
    border-radius: 4px;
    margin-top: 5%;
    height: 40px;
    width: 180px;
    background-color: rgb(174,219,15);
}

button:hover {
    color: white;
    transform: scale(1.05);
    background-color: rgb(116, 145, 13);
}
