.div-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5%

}
.cadastro-form {
    display: flex;
    flex-direction: column;
    
}

.cadastro-form label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.cadastro-form input {
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #fff;
    height: 36px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.botao {
        width: 10%;
        color: #eff2f5;
        font-weight: 600;
        height: 50px;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 5px;
}
